

body{
    display: grid;
    grid-template-rows: 100px auto 100px;
    min-height: 50vh;
}

header{
    background-color: rgb(38, 61, 187);
}
main{
    background-color:rgb(0, 153, 25);
}
footer{
    background-color: rgb(192, 22, 0);
}





